[class^="container"] {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 80px;
}

.container-narrow {
  max-width: 760px;
}

@media (max-width: 1024px) {
  [class^="container"] {
    padding: 0 48px;
  }
}

@media (max-width: 600px) {
  [class^="container"] {
    padding: 0 24px;
  }
}
