.container {
  width: 72px;
  height: 56px;
  background-color: var(--slate-100);
  border: 0.5px solid var(--slate-200);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  overflow: hidden;
  padding: 8px;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button svg {
  width: 18px;
  height: 18px;
  stroke: var(--slate-500);
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.button:hover svg {
  stroke: var(--black);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.loading {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 3px solid var(--black);
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
