.section {
  position: relative;
  min-height: 70vh;
  background-image: url("/images/station-setup.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  color: var(--white);
  margin-bottom: 12px;
}

.button {
  background: none;
  color: var(--white);
  margin-top: 24px;
}

.button svg {
  stroke: var(--white);
}

.button:hover {
  border: 1.5px solid var(--white);
}

@media (max-width: 768px) {
  .overlay {
    padding: 48px;
  }

  .title {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.2px;
    font-family: var(--font-inter);
  }
}

@media (max-width: 430px) {
  .overlay {
    padding: 24px;
  }
}
