.container {
  max-width: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  transition: transform 0.5s ease-in-out;
}

.container svg {
  fill: var(--black);
  width: 56px;
  height: 56px;
}

.review,
.reviewer {
  color: var(--black);
}

.reviewer {
  margin-top: 12px;
  font-style: italic;
}

@media (max-width: 768px) {
  .review {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.48px;
  }

  .container svg {
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 430px) {
  .review {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
  }
}
