.container {
  position: relative;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 12px;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tab {
  padding: 16px 24px;
  background-color: var(--slate-100);
  border-radius: 90px;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  color: var(--black);
  flex-shrink: 0;
}

.active {
  background-color: var(--black);
  color: var(--white);
}

.tab:not(.active):hover {
  background-color: var(--slate-200);
}

.products {
  margin-top: 64px;
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.product {
  flex: 0 0 calc((100% - 48px) / 3);
}

.btns {
  display: flex;
  gap: 8px;
}

.disabled {
  pointer-events: none;
}

.disabled svg {
  stroke: var(--slate-200);
}

@media (max-width: 1024px) {
  .container {
    padding: 0;
  }

  .title {
    padding: 0 48px;
  }

  .tabs {
    padding: 0 48px;
  }

  .products {
    padding: 0 48px;
  }

  .btns {
    display: none;
  }
}

@media (max-width: 768px) {
  .product {
    flex: 0 0 calc((100% - 48px) / 2);
  }

  .products {
    margin-top: 48px;
  }
}

@media (max-width: 430px) {
  .title {
    padding: 0 24px;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.54px;
  }

  .tabs {
    padding: 0 24px;
  }

  .products {
    padding: 0 24px;
  }

  .product {
    flex: 0 0 calc(100% - 48px);
  }
}
