.title {
  white-space: nowrap;
  color: var(--white);
  -webkit-text-stroke: 1.5px var(--black);
  display: flex;
  align-items: center;
  gap: 80px;
  margin-right: 80px;
}

.circle {
  width: 24px;
  height: 24px;
  border: 1.5px solid var(--black);
  border-radius: 50%;
}
