/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/close-button/close-button.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.close-button_close__8C1Ug svg {
  stroke: var(--black);
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.close-button_close__8C1Ug:hover svg {
  transform: rotate(90deg);
}

