/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ui/text-field/text-field.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.text-field_input__KGd21 {
  width: 100%;
  height: 56px;
  background-color: var(--slate-100);
  border: 1.5px solid var(--slate-200);
  border-radius: 12px;
  color: var(--black);
  padding: 16px;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.text-field_input__KGd21::placeholder {
  color: var(--slate-500);
}

.text-field_input__KGd21:focus {
  border-color: var(--black);
}

.text-field_input__KGd21:hover {
  background-color: var(--slate-200);
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ui/text-area/text-area.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.text-area_textarea__SU7oM {
  width: 100%;
  height: 120px;
  background-color: var(--slate-100);
  border: 1.5px solid var(--slate-200);
  border-radius: 12px;
  color: var(--black);
  padding: 16px;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.text-area_textarea__SU7oM::placeholder {
  color: var(--slate-500);
}

.text-area_textarea__SU7oM:focus {
  border-color: var(--black);
}

.text-area_textarea__SU7oM:hover {
  background-color: var(--slate-200);
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ui/dropdown/dropdown.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.dropdown_container___e7u5 {
  position: relative;
  width: 100%;
  height: 56px;
  background-color: var(--slate-100);
  border: 1.5px solid var(--slate-200);
  border-radius: 12px;
  color: var(--black);
  padding: 16px;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.dropdown_heading__78syi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dropdown_heading__78syi svg {
  stroke: var(--black);
}

.dropdown_dropdown__uLVlu {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  transform: translateY(-10px);
  background-color: var(--white);
  border: 0.5px solid var(--slate-200);
  border-radius: 12px;
  color: var(--black);
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  box-shadow: 0px 40px 32px -8px rgba(15, 15, 15, 0.12);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dropdown_dropdown__uLVlu.dropdown_open__K_ZJa {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown_item__x9mYc {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  border-radius: 8px;
}

.dropdown_item__x9mYc:hover {
  background-color: var(--slate-100);
}

.dropdown_item__x9mYc.dropdown_active__cIA_H {
  background-color: var(--slate-100);
}

.dropdown_container___e7u5:hover {
  background-color: var(--slate-200);
}

.dropdown_container___e7u5:focus-within {
  border-color: var(--black);
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ui/checkbox/checkbox.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.checkbox_checkbox__G0a4G {
  position: relative;
  width: 21px;
  height: 21px;
  border: 1.5px solid var(--slate-200);
  border-radius: 6px;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  flex-shrink: 0;
}

.checkbox_checkbox__G0a4G:not(.checkbox_checked__XyKNh):hover {
  background-color: var(--slate-100);
}

.checkbox_checked__XyKNh {
  background-color: var(--black);
  border-color: var(--black);
}

.checkbox_checkbox__G0a4G.checkbox_checked__XyKNh svg {
  opacity: 1;
  visibility: visible;
}

.checkbox_checkbox__G0a4G svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  width: 14px;
  height: 14px;
  fill: var(--white);
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ui/toggle/toggle.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.toggle_toggle___Zsaf {
  width: 56px;
  height: 32px;
  background-color: var(--slate-200);
  box-shadow: 0 0 0 1.5px var(--slate-300) inset;
  border-radius: 96px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle_toggle___Zsaf:hover {
  background-color: var(--slate-300);
}

.toggle_thumb__WkT9_ {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  background-color: var(--white);
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle_toggle___Zsaf.toggle_toggled__9k9h3 {
  background-color: var(--success-500);
  box-shadow: 0 0 0 1.5px var(--success-500) inset;
}

.toggle_toggle___Zsaf.toggle_toggled__9k9h3 .toggle_thumb__WkT9_ {
  transform: translateX(24px);
}

.toggle_toggle___Zsaf.toggle_disabled__VHFHK {
  background-color: var(--slate-100);
  cursor: not-allowed;
  opacity: 0.5;
}

.toggle_toggle___Zsaf.toggle_disabled__VHFHK .toggle_thumb__WkT9_ {
  background-color: var(--slate-200);
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ui/range/range.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.range_range__iMMfT {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.range_range__iMMfT::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--black);
  cursor: pointer;
  border-radius: 50%;
  margin-top: -6px;
}

.range_range__iMMfT::-webkit-slider-runnable-track {
  height: 8px;
  background: var(--slate-100);
  border-radius: 4px;
}

