.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.button:hover {
  border: 1.5px solid var(--white);
}

.textfield,
.textarea {
  background-color: var(--slate-950);
  border: 1.5px solid var(--slate-800);
  color: var(--white);
}

.textarea:focus,
.textfield:focus {
  border-color: var(--white);
}
