.container {
  display: flex;
  gap: 12px;
}

.button {
  padding: 4px;
  border-radius: 12px;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  border: 1.5px solid transparent;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.selected {
  border-color: var(--black);
}

.button:not(.selected):hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .image {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 430px) {
  .image {
    width: 64px;
    height: 64px;
  }
}
