.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  z-index: 9999;
  display: flex;
}

.outer {
  position: relative;
  z-index: 2;
}

.no_scroll {
  overflow: hidden;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
